{% extends 'main.html' %}
{% load static %}
{% block content %}

<section class="expence">
    <div class="main__wrapper">
        <form method="POST" action="" class="form">
            {% csrf_token %}
            <div class="left__content">
                <div class="form__title">Expence</div>

                <div class="form__item">

                    <div class="form__group">
                        <label for="title"> Title</label>
                        {{form.title}}
                    </div>
                    <div class="form__group">
                        {{form.price}}
                        <label for="price">Price</label>
                    </div>
                    <div class="form__group">
                        <label for="date"> Date</label>
                        {{form.paid_date}}
                    </div>
                </div>
                <div class="form__item">

                    <div class="form__box">
                        <div class="form__group">
                            <label>{{form.paid_by.label}}</label>
                            {{form.paid_by}}
                        </div>
                    </div>

                    <div class="form__box">
                        <div class="input__title">Split with</div>
                        <div class="form__menu groups__menu">
                            {{form.split_with}}
                        </div>
                    </div>

                </div>
                <div class="form__item comment">
                    <div class="form__group comment__group">
                        <label for="comment"> Comment</label>
                        {{form.comment}}
                    </div>
                </div>
            </div>

            <div class="right__content">

                <div class="expence__img" style="background-image: url({% static 'media/Teamwork.png' %});"></div>
                <button type="submit" class="custom__btn">Submit</button>
                <button onclick="location.href='{% url 'detail' group_id %}'" type="button" class="custom__btn">
                    Back to group
                </button>

            </div>
        </form>

    </div>
</section>

{% endblock %}
