{% extends 'main.html' %}
{% block content %}

<h2>{{group_data.name}}</h2>
<h4>Expenses</h4>
<div>
    {% for expense in group_expenses %}
        <div>{{expense}}
            <a href="{% url 'expense' expense.id %}">Edit</a>
            <a href="{% url 'delete-expense' expense.id %}">Delete</a>
        </div>
    {% endfor %}
</div>

<div>
    <a href="{% url 'add-expense' %}">Add Expense</a>
</div>

<h4>Group Users' balance</h4>
<a href="{% url 'settle-up' %}">Settle Up</a>
<div>
    {% for user in group_users %}
        <div>
            <p>{{user.profile.full_name}} | balance is {{user.balance}} PLN</p>

            {% for transfer in cash_transfers %}
                {% if transfer.sender == user %}
                    <p>owes {{transfer.amount}} to {{transfer.receiver}}</p>
                {% elif transfer.receiver == user %}
                    <p>gets back {{transfer.amount}} from {{transfer.sender}}</p>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</div>

{% endblock %}