{% extends 'main.html' %}
{% load static %}
{% block content %}

<section class="main">
    <div class="main__wrapper">
        <aside class="side__bar">
            <ul>
                <li><span class="active"></span><a href="#" class="custom-icon side__bar-icon" style="background-image: url({% static 'media/right.svg' %});"></a></li>
                <li><span ></span><a href="#" class="custom-icon side__bar-icon" style="background-image: url({% static 'media/info.svg' %});"></a></li>
            </ul>
        </aside>
        <div class="main__content">
            <div class="main__content-item">
                <div class="item__title">Balances</div>
                <ul>
                    {% for user in group_users %}
                        <li>{{user.profile.username}}: {{user.balance|stringformat:"g"}} zł</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="main__content-item group__det">
               <div class="item__header">
                    <div class="item__header-title">{{group_data.name}}</div>
                    <div class="buttons__box">
                        <button onclick="location.href='/groups/add-expense/'" type="button">Add EXP</button>
                        <button onclick="location.href='/groups/settle-up/'" type="button">Settle Up</button>
                    </div>
                </div>
                <table class="main__table">
                    {% for expense in group_expenses %}
                        <tr class="row">
                            <td>{{expense.paid_date|date:'d.m'}}</td>
                            <td>{{expense.title}}</td>
                            <td>{{expense.price|stringformat:"g"}} zł</td>

                            <td class = "cell">
                                <button class="custom-icon"
                                        onclick="location.href='{% url 'expense' expense.id %}'"
                                        style="background-image: url({% static 'media/edit-2.svg' %});">
                                </button>
                            </td>

                            <td class = "cell">
                                <button class="custom-icon"
                                        onclick="location.href='{% url 'delete-expense' expense.id %}'"
                                        style="background-image: url({% static 'media/trash-2.svg' %});">
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </table>

            </div>
            <div class="main__content-item transfers">
                <div class="item__title">Money Transfers</div>
                 {% for user in group_users %}
                    {% for transfer in cash_transfers %}
                        {% if transfer.sender == user %}
                            <li>
                                <span>{{transfer.sender.profile.username}} </span>
                                owes {{transfer.amount|stringformat:"g"}} zł to {{transfer.receiver.profile.username}}
                            </li>
                        {% elif transfer.receiver == user %}
                            <li class="green">
                                <span>{{transfer.receiver.profile.username}} </span>
                                gets back {{transfer.amount|stringformat:"g"}} zł from {{transfer.sender.profile.username}}
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}
