{% load static %}

<header class="header">
        <div class="container">
            <div class="header__inner">
                <div class="header__logo">
                 <a href="{% url 'welcome' %}">
                Slash
                </a>
                </div>

                <nav class="header__menu">
                <ul>
                    <li><a href="{% url 'create-group' %}" class="custom-icon plus" style="background-image: url({% static 'media/plus.svg' %})"></a></li>
                    <li class="line"></li>
                    <li><a href="#"class="custom-icon bell"style="background-image: url({% static 'media/bell.svg' %})"><span></span></a></li>
                    <li class="user__box">
                        <div class="user">
                            <div class="custom-icon user__img"style="background-image: url();"></div>
                            <div class="user__name">{{logged_user.username}}</div>

                        </div>
                        <div class="user__menu  groups__menu">
                            <ul>
                                <li><a href="{% url 'profile' logged_user.id %}">Profile</a></li>
                                <li><a href="{% url 'logout-user' %}">Logout</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                </nav>
            </div>

        </div>

    </header>