html {
   box-sizing: border-box;
}

body {
   position: relative;
   overflow-x: hidden;
   font-family: 'Montserrat', sans-serif;
   padding: 0;
   margin: 0;
}
a{
   display: inline-block;
   text-decoration: none;
   outline: none;
   cursor: pointer;
}
ul{
   list-style: none;
   margin: 0;
   padding: 0;
}
li{
   display: inline-block;
}
.header__inner{
   display: flex;
   justify-content: space-between;
   height: 60px;
   margin-left: 90px;
   align-items: center;
}
.header__logo a, .form__title{
   font-size: 36px;
   line-height: 44px;
   text-align: center;
   color: #7B85E0;
   text-transform: uppercase;
}
.custom-icon{
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   border-radius: 50%;
   width: 30px;
   height: 30px;
   border: none;
   outline: none;
   background-color: transparent;
}
.header__menu li+ li{
   margin-left: 28px;
}
.line{
   width: 1px;
   background: #b9b9b9;
   height: 32px;
}
.bell{
   position: relative;
}
.bell span{
   background-color:  red;
   width: 7px;
   height: 7px;
   position: absolute;
   border-radius: 50%;
   right: -4px;
   top: -4px;
}


.groups__box{
   position: relative;
   cursor: pointer;
   min-width: 240px;
   height: 30px;
   
}
.groups__box:hover > .groups__menu, .user__box:hover > .user__menu , .form__box:hover > .form__menu{
   height: auto;
   padding: 5px;
   overflow: auto;
   z-index: 100;
}
.groups__menu, .user__menu, .form__menu{
   position: absolute;
   background-color: transparent;
   -webkit-transition: all 0.3s;
   -o-transition: all 0.3s;
   transition: all 0.3s;
   height: 0;
   overflow: hidden;
   width: 240px;
   box-shadow: 0px 4px 8px rgba(56, 70, 200, 0.14);
   background: #fff;

}
.user__name::after{
   content: url(/static/media/arrow-down.svg);
   position: absolute;
   right: 0px;
}
.groups__menu ul{
   padding:5px;
}

.groups__menu li{
   display: block;
   box-shadow: 0px 4px 8px rgba(56, 70, 200, 0.14);
   padding: 5px;
   text-align: center;

}
.groups__menu li:last-child{
   box-shadow: none;

}
.groups__menu li .all-groups{
   color: #fff;
   background: #3846C8;
   width: fit-content;
   height: 30px;
   border-radius: 8px;
   text-align: center;
   padding: 5px;
   box-shadow: 0px 4px 8px rgba(56, 70, 200, 0.14);
}
.groups__menu a {
   font-size: 18px;
   color: #898888;
   margin-bottom: 10px;
}

.groups__a:hover, .user__menu a:hover{
   color: #7B85E0;
   font-weight: 500;
}

.user__box, .form__box {
   position: relative;
   cursor: pointer;
}
.groups__title, .user{
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-align: center;
   padding-right: 35px;
}
.user{
   padding-right: 42px;
   margin-right: 28px;
}
.groups__menu li + li, .user__menu li + li{
   margin-left: 0;
   margin-top: 1em;
}

.user__img {
   background-color: #7B85E0;
}
.user__name {
   padding-left: 20px;
   color: #898888;
   font-size: 18px;
   line-height: 22px;
   min-width: 150px;
}
.groups__title{
   color: #7B85E0;
   text-transform: uppercase;
   font-weight: 600;
   padding-right: 27px;

}
.user__menu li{
   padding: 3px;
   text-align: center;
   box-shadow: none;
}

.user__menu a {
   text-align: center;
}
.main{
   background:#EEEFFB;

}
.main__wrapper{
   display: flex;
   height:calc(100vh - 60px)
}
.side__bar{
   background: #fff;
   width: 90px;
   margin-right: 20px;
}
.side__bar ul{
   margin-top: 50px;
}
.side__bar li {
   display: block;
   position: relative;
   padding-left: 14px;
}
.side__bar li+li{
   margin-top: 30px;
}

.side__bar-icon{
   width: 45px;
   height: 45px;
}
.active{
   position: absolute;
   width: 7px;
   height: 45px;
   background-color: #7B85E0;
   left:0;
}
.main__content{

   padding: 50px 35px;
   display: flex;
   justify-content: space-between;
   width: 100%;
}
.main__content-item, .group__det{
   width: fit-content;
   height: fit-content;
   padding: 20px;
   margin: 0 40px;
   background: #fff;
   box-shadow: 0px 4px 8px rgba(56, 70, 200, 0.14);
   font-size: 12px;
   line-height: 15px;

}
.item__title{
   font-size: 24px;
   line-height: 29px;
   text-align: center;
   color: #3846C8;
   padding-bottom: 3px;
   border-bottom: 3px solid #7B85E0;
   margin-bottom: 15px;
}
.main__content-item li{
   display: block;
   box-shadow: 0px 4px 8px rgba(56, 70, 200, 0.14);
   padding: 7px;

}
.main__content-item li+li{
   margin-top: 15px;
}
.main__content-item a{
   color: #000;
}
.group__det{
   padding: 0;
}
.item__header{
   background: #3846C8;
   display: flex;
   justify-content: space-between;
   padding: 13px;
}
.item__header-title{
   color: #fff;
   font-size: 24px;
   line-height: 29px;
   text-align: center;
}
.main__table{
   border-collapse:separate;
   border-spacing: 1em 1.5em;
}
.main__table tr{
   box-shadow: 0px 4px 8px rgba(56, 70, 200, 0.14);

}
.main__table td{
   padding: 10px;
}
.buttons__box button{
   color: #fff;
   background: #3846C8;
   width: 80px;
   height: 30px;
   border-radius: 8px;
   outline: none;
   border: none;
   text-align: center;
   padding: 3px;
   filter: drop-shadow(4px 4px 3px rgba(0, 0, 0, 0.25)) drop-shadow(-4px -4px 4px rgba(221, 221, 221, 0.2));
   margin-right: 10px;
   cursor: pointer;
}
.cell .custom-icon{
   width: 25px;
   height: 25px;
   border-radius: 0;
   cursor: pointer;
}
/* pagination */
.container {
   padding: 5px;
   margin: 0 auto;
   margin-bottom: 10px;
}
 .pagination {
   display: flex;
   list-style: none;
   justify-content: center;
 }
 .pagination li {
   width: 18px;
   height: 18px;
   margin: 0px 10px;
 }
 .pagination li a {
   font-size: 14px;
   text-decoration: none;
   color: #3846C8;
   display: block;
   text-align: center;
 }
 .arrow{
   width: 14px;
   height: 14px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.current__page{
   border-bottom: #3846C8 1px solid;
}
.balances {
   color: #F15634;
}
.balances span{
   font-weight: bold;
   font-size: 14px;
   color: #898888;
}
.green {
   color: #0BCB2A;
}
/* expence section */

.expence .main__wrapper, .settle__up .main__wrapper{
   background:#EEEFFB;
   justify-content: center;
}
.form{
   background: #fff;
   margin: 50px 0;
   padding:25px;
   border-radius: 25px;
   box-shadow: 4px 4px 8px rgba(56, 70, 200, 0.14);
   display: flex;
   justify-content: space-between;
   max-height: 530px;
}
.right__content{
   align-items: center;
   text-align: center;
   padding: 5px 10px;
   position: relative;
}
.exit{
   position: absolute;
   right: 0;
   cursor: pointer;
}
.expence__img{
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   min-width: 447px;
   min-height: 379px;
   margin-bottom: 50px;
}
.custom__btn{
   margin: 0 auto;
   width: 320px;
   height: 50px;
   text-align: center;
   background: #3846C8;
   color: #fff;
   font-weight: 600;
   font-size: 24px;
   line-height: 29px;
   outline: none;
   border-radius: 25px;
   border: none;
   cursor: pointer;
}
.left__content{
   padding: 3px 10px;
   margin-right: 25px;

}
.form__title{
   text-transform: none;
   text-align: start;
   margin-bottom: 10px;
   padding: 0 10px;
}
.form__item{
   width: 270px;
   padding: 10px;
   border-bottom: #3846C8 3px solid;

}
.form__group{
   width: 100%;
   margin-bottom: 25px;
   display: flex;
}
.form__group input,
textarea
{
   display: block;
   width: 170px;
   height: 30px;
   padding: 0 7px;
   background: #EEEFFB;
   border-radius: 8px;
   border: none;
   color: #3846C8;
   outline: none;
   cursor: pointer;
   font-size: 20px;
}

.form__group label{
   font-size: 24px;
   line-height: 29px;
   text-align: center;
   color: #3846C8;
   margin: 0 10px;
}
.form__group select{
   width: 100%;
   outline: none;
   border: none;
   color: #3846C8;
   font-size: 24px;
   line-height: 29px;
   margin-top: 15px;
   padding: 0 7px;
   cursor: pointer;
}


.input__title{
   color: #3846C8;
   font-size: 24px;
   line-height: 29px;
   margin-top: 15px;
   padding: 0 10px;
   font-weight: 400;
}
.input__title::after{
   content:'';
   position: absolute;
   right: 0px;
   top: 5px;
   width: 17px;
   height: 17px;
   background-size: cover;
   background-image: url(/static/media/arrow-down.svg);
   background-repeat: no-repeat;
}
.form__menu{
   min-width: 260px;
}
.form__menu li{
   box-shadow: none;
   font-size: 12px;
   text-align: start;

}
.form__menu li + li{
   margin-top: 0;
}
.comment{
   border: none;
}
.comment__group{
   display: block;
   align-items: center;
   text-align: center;
}
.comment__group label{
   display: block;
   margin-bottom: 15px;
}
.comment__group textarea{
   width: 100%;
   min-height: 76px;
   bottom: 0;
}
.tooltip{
   position: relative;
}
.tooltip .tooltiptext{
   visibility: hidden;
   background: #fff;
   width: 200px;
   border-radius: 8px;
   border: none;
   color: #3846C8;
   font-size: 24px;
   line-height: 29px;
   margin-top: 15px;
   padding: 0 10px;
   font-weight: 400;
   text-align: start;
   position: absolute;
   padding:  2px 7px;
   top: 0;
   left: 0;
   z-index: 1;
}
.tooltip:hover .tooltiptext {
   visibility: visible;

}
.expence .main__content-item{
   background: #fff;
   margin: 50px 0;
   padding:25px;
   border-radius: 25px;
   box-shadow: 4px 4px 8px rgba(56, 70, 200, 0.14);
   margin-left: 30px;
}
.expence .main__content-item span{
   font-weight: 600;
}
.settle__up-form{
   display: block;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}
.settle__up-form .form__title{
   text-align: center;
   margin-bottom: 70px;
}
/* Welcome page */
.welcome, .confirmation{
   display: flex;
   justify-content: center;
   height: 100vh;
   width: 100%;
   background: #fff;
}
.welcome__wrapper{
   max-width: 1200px;
   display: flex;
   justify-content: space-between;
   padding: 40px;

}
.welcome__img{
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   width: 571px;
   height: 567px;
   margin-left: 25px;

}
.left{
   width: 480px;
   height: 600px;
   align-items: center;
   text-align: center;
}
.left h1{
   font-weight: bold;
   font-size: 72px;
   line-height: 88px;
   text-align: center;
   color: #3846C8;
}
.left .custom__btn{
   margin-top: 36px;
   text-align: center;
   line-height: 50px;
}
.confirmation{
   background: #7B85E0;
}
.confirmation .welcome__img{
   margin-right: 0;
}
.confirmation .left{
   background: #fff;
   padding:25px;
   border-radius: 25px;
   box-shadow: 4px 4px 8px rgba(56, 70, 200, 0.14);
   max-height: 530px;

}